[MESSAGES CONTROL]
# C0111 missing-docstring: will be re-enabled after documentation is completed
# R0903 too-few-public-methods: unittest mock matchers can have just __init__ and __eq__
# R0904 too-many-public-methods: bypass pylint complaints on test classes inheriting many public methods from unittest.TestCase
# W0142 star-args: **kwargs is used on purpose to allow unstructured optional parameters
disable=C0111,R0903,R0904,W0142

[FORMAT]
max-line-length=120

[DESIGN]
max-args=7
